body{
    background-color: RGB(255,255,0);
    
}

h1, h2{
    color: RGB(255,0,255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

button{
    color: rgb(155,232,132);
    margin-left: 50px;
    width: 50%;
    height: 500px;
    left: 20px;
    text-transform: capitalize;
    text-shadow: 10cm;
    font-size: large;
    font-weight: bolder;
    font-style: normal;
    font-kerning: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin-left: auto;
    margin-right: auto;
}